ASSIGNMENT 2

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Ans-

In [1]:
def main():
    my_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

   
    sort = sorted(my_list, key=lambda x: x[1])

   
    print("list based on runs:")
    for player , runs in sort:
        print(f"{player} , {runs}")

if __name__ == "__main__":
    main()

list based on runs:
Virat Kohli , 24936
Jack Kallis , 25534
Ricky Ponting , 27483
Sachin Tendulkar , 34357

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ans-

In [13]:
num = [1,2,3,4,5,6,7,8,9,10]
square=list(map(lambda x:x**2 , num))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Ans-

In [34]:
int_list=[1,2,3,4,5,6,7,8,9,10]
tuple_list= tuple(map(lambda num:str(num) , int_list))
print(tuple_list)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

Ans-

In [1]:
from functools import reduce
p_of_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

product =reduce(lambda x,y:x*y , p_of_list)
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Ans-

In [30]:
my_list = [2,3,6,9,27,60,90,120]

divi_2_3 =list(filter(lambda num :num %2 == 0 and num%3 ==0, my_list))
print(divi_2_3)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

Ans-

In [55]:
string_list = ['python', 'php', 'aba', 'radar', 'level']

get_palindrome =list(filter(lambda p:p==p[::-1],string_list))
print(get_palindrome)

['php', 'aba', 'radar', 'level']

In [51]:
s= ["python", "aba" ,"radar"]
get=list(filter(lambda s:s==s[::-1],s))
print(get)

['aba', 'radar']